.spacer {
    flex: 1;
   }
   
   .toolbar {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       height: 60px;
       display: flex;
       align-items: center;
       background-color: #a790ff;
       color: white;
       font-weight: 600;
   }
   
   .toolbar span {
       margin-left: 50%;
   }
   
   .content {
       display: flex;
       margin: 8% 0% 2% 12.5%;
       padding: 0 16px;
       max-width: 960px;
       flex-direction: column;
   }